
.nav-ul-parent:hover .nav-ul-child{
    display: grid;
    visibility: visible;
    top: calc(100% + 2px);
}

.nav-ul-child{
    visibility: hidden;
    transition: visibility 0.1s, top 0.1s;
    top: calc(100% + 15px);
    z-index: 1;
}

.nav-ul-child li{
    margin-top: 5px;
}

.user-parent:hover .user-child{
    display: grid;
    visibility: visible;
    top: calc(100% + 2px);
    z-index: 4;
}

.user-child{
    visibility: hidden;
    transition: visibility 0.2s, top 0.2s;
    top: calc(100% + 15px);
}

.user-child li{
    margin-top: 5px;
}

.explore_btn{
    border: 1px solid transparent;
    padding: 12px 16px;
    background: #80B500ed;
    font-weight: 500;
    font-size: 14px;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: color 0.3s;
}

.explore_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    transition: background 0.3s, width 0.3s;
}

.explore_btn:hover{
    border: 1px solid #071C1F;
    background: #071C1F;
    color: #071C1F;
}

.explore_btn:hover::before{
    width: 100%;
}

.learn_more_btn{
    border: 1px solid transparent;
    padding: 12px 25px;
    background: white;
    font-weight: 500;
    font-size: 14px;
    color: black;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: color 0.3s;
}

.learn_more_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #071C1f;
    z-index: -1;
    transition: background 0.3s, width 0.3s;
}

.learn_more_btn:hover{
    border: 1px solid white;
    background: #80B500ed;
    color: white;
}

.learn_more_btn:hover::before{
    width: 100%;
}

.icon-filled{
font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 
}

.product_child{
    visibility: hidden;
    transition: visibility 0.2s, transform 0.3s;
}

.product_parent:hover .product_child{
    visibility: visible;
    transform: translateY(-1.3rem);
}

.custom_shadow{
    box-shadow: 0 0px 20px rgba(4, 4, 4, 0.078);
}